.location {
    width: 1200px;
    height: 500px;
    background-image: url("../imagens/img-locations-background.jpg");
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.location__titulo {
    color: seashell;
    font-size: 28px;
    font-weight: bolder;
}
.location__quadrados {
    display: flex;
    justify-content: space-around;
    width: 980px;
    margin-top: 15px;
}
.location__quadrados__quadrado {
    background-color: rgba(0, 0, 0, 1);
    width: 300px;
    height: 300px;
    color: seashell;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.location__quadrados__quadrado__titulo {
    font-size: 28px;
}